/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 22, 2022, 2:18:24 PM
    Author     : ADMIN
*/
*{
    padding: 0;
    margin: 0;
}
#wrapper{
    font-family: arial;
    margin-left: 30px;
    width: 90%;
    margin-top: 60px;
}
.clr {
    clear:both;
}
/*Phan Menu*/
#menu_tab {
    width:100%;
}
ul.menu {
    float:left;
    /*    background:url(../images/background_menu.jpg) repeat-x;*/
    background-color: white;
    display:block;
    list-style-type:none;
    font-weight:bold;
    height: 55px;
    padding:12px;
    width: 100%;
}
ul.menu li {
    display:inline;
    font-size:14px;
    padding-top: 15px;
    text-align:center;
    line-height:30px;
    color:#E2D9BC;
}
ul.menu li a{
    margin: 10px;
    padding-left:0px;
    text-decoration:none;
    text-align:center;
    color:black;
    font-size: 16px;
    position:relative;
}
ul.menu li a img{
    float:left;
    margin-left:10px;
}
ul.menu li a:hover{
    color:#F90;
}
ul.menu li a:active{
    color:#FF0;
}
ul.menu li a:focus {
    color:#96F;
}
#content{
    margin-left: 20px;
}
table{
    border-collapse: collapse;
}
td{
    text-align: center;
}

.product_item {
    width: 25%;
}

.featured-item{
    border: 4px solid rgb(102, 98, 98);
}

